<!DOCTYPE html>
<html>
<head>
	<title>API Data Table</title>
	<style>
        
		table, th, td {
			border: 2px solid black;
			border-collapse: collapse;
			padding: 5px;
		}
        t1 {
        font-size: 30px;
  padding: 235px;
  height: 800px;
  width: 160px;
  font-weight: 1000;
  text-align: center;
  vertical-align: center;
}
	</style>
</head>
<body>
<t1>Server_1</t1> 
	<table id="myTable">
		<thead>
            <tr>
                
            </tr>
			<tr bgcolor = "lightblue">

				<th>Parchi No.</th>
				<th>Name</th>
				<th>Age</th>
				<th>Sex</th>
				<th>Location</th>
				<th>Department</th>
				<th>Date</th>
				<th>Time</th>
			</tr>
		</thead>
		<tbody>
			
		</tbody>
	</table>

	<script>
		fetch('https://digitilize-pragun.onrender.com/server2/getdata')
			.then(response => response.json())
			.then(data => {
				let tableBody = document.querySelector('#myTable tbody');
				data.data.forEach(rowData => {
					let row = document.createElement('tr');
					Object.values(rowData).forEach(cellData => {
						let cell = document.createElement('td');
						cell.textContent = cellData;
						row.appendChild(cell);
					});
					tableBody.appendChild(row);
				});
			})
			.catch(error => console.log(error));
	</script>

</body>
</html>